body{
    font-size: 1.7em
    
}
.nav {
    text-decoration: none;
    color: #f8f9fc;
}
.nav a {
      color: rgba(255,255,255,.6); 
  }
.nav > .active {
    color: white;

}

.nav > .active a {
    color: white;
}

.nav > a:hover {
    text-decoration: none;
    color: white;
    border-bottom: white solid 2px;
}
#navMenu{
    background-color: darkslategray;
    padding: 10px;
}